name: quran_app
description: "WABIR Quran Gateway - Final Build"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.1
  just_audio: ^0.9.36
  shared_preferences: ^2.2.2
  adhan: ^2.1.0
  geolocator: ^11.0.0
  flutter_compass: ^0.7.0
  google_fonts: ^6.1.0
  intl: ^0.19.0
  http: ^1.2.0
  flutter_local_notifications: ^17.0.0
  timezone: ^0.9.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  fonts:
    - family: Amiri
      fonts:
        - asset: assets/fonts/Amiri-Regular.ttf
    - family: AmiriQuran
      fonts:
        - asset: assets/fonts/AmiriQuran.ttf
    - family: NotoSansArabic
      fonts:
        - asset: assets/fonts/NotoSansArabic.ttf
