name: Cloud Build APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build APK
        run: |
          # البحث عن المجلد
          PROJECT_ROOT=$(find . -name pubspec.yaml -exec dirname {} \;)
          cd "$PROJECT_ROOT"
          
          echo "--- Checking pubspec.yaml content ---"
          cat pubspec.yaml
          
          # البدء بالبناء
          flutter pub cache clean --force
          flutter pub get
          flutter build apk --release

      - name: Deliver APK
        uses: actions/upload-artifact@v4
        with:
          name: WABIR-Quran-App
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
